/* SignIn.css */
.signin-container {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signin-content {
    background-color: #343a40;
    border-radius: 1rem;
    max-width: 400px;
    padding: 2rem;
    text-align: center;
  }
  
  .signin-content h2 {
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .signin-content p {
    margin-bottom: 2.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .input-field {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.25rem;
  }
  
  .login-btn {
    background-color: white;
    color: #343a40;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
  }
  
  .social-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;
  }
  
  .social-icon .icon {
    color: white;
  }
  
  .text-white-50 {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .fw-bold {
    font-weight: bold;
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .pb-lg-2 {
    padding-bottom: 0.5rem;
  }
  
  .m-3 {
    margin: 0.5rem;
  }
  
  .small {
    font-size: 0.875rem;
  }
  
  .fab {
    font-size: 1.5rem;
  }

  /* SignIn.css */

/* ... Existing CSS rules ... */

.input-wrapper {
  position: relative;
}

.required-text {
  left: 0;
  width: 100%;
  font-size: 0.75rem; /* Adjust the font size as needed */
  color: red !important;
}

