/* dashboard.css */
*{
    /* border: 1px red solid; */
    box-sizing: border-box;
}
.dashboard-heading {
    color: darkblue;
    font-size: 2.5rem;
}

.plus-icon {
    margin-right: 10px;
    font-size: 18px;
}

.dashboard_container {
    width: 100%;
    height: 100%;
    text-align: left;
}
.dashboard {
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    min-height: 250px;
}
.first-container{
    display: flex;
    justify-content: space-between;
}
